

  <table width="100%">
    <tr>
      <td width="50%" valign="top">
        <fieldset>
          <legend>Filtros</legend>
          <table>
            <tr>
              <td>Nome: </td>
              <td><input matInput placeholder="Nome" [(ngModel)]="nome" maxlength="30" /></td>
            </tr>
            <tr>
              <td></td>
            </tr>
            <tr>
              <td><button mat-button (click)="eventClickSearch()" )>Pesquisar</button></td>
              <td><button mat-button (click)="eventClickNew()" )>Cadastrar</button></td>
            </tr>
          </table>
        </fieldset>
      </td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td>
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->
          <!-- Position Column -->
          <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell >  </td>
      </ng-container>


      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <button mat-button  >Editar</button>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <button mat-button  >Editar</button>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      </td>
    </tr>
  </table>
